@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Source+Code+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

.sidebar {
    position: absolute;
    background-color: rgb(230, 225, 225);
    /* width: 200px; */
    height: 1000px;
    font-family: 'Fira Sans', sans-serif;
    transition: transform 0.3s ease-in;
}

.sidebar nav {
    padding: 45px;
    height: 200px;
}

.sidebar nav li {
    list-style: none;
    font-size: 20px;
    padding: 17px 0;
}

.sidebar nav li a {
    text-decoration: none;
    color: black;
}

.main {
    /*background-color: yellow;*/
    width: 90vw;
    
}

.cointainer {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.infocontainer {

    /*background-color: rgb(21, 255, 0);*/
    height: 58vh;
    width: 75vw;
    margin: 144px auto;
    margin-top: 147px;
    display: flex;
    justify-content: space-around;
}

.devpic img {
    /* height: 100vh; */
    width: 275px;
    margin-top: -110px;
}

.devinfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}

.hello {
    font-size: 40px;
}

.name {
    font-size: 35px;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
}

.about {
    font-size: 30px;
}

.moreabout {
    font-size: 20px;
    font-family: 'Fira Sans', sans-serif;
    margin-top: 23px;
}

.buttons {
    margin-top: 2.2em;
    font-size: 8px;
}

.btn {
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: blue;
    font-weight: bold;
    font-size: 2em;
    margin: 3 3px;
    cursor: pointer;

}

.btn-sm {
    font-size: 14px;
    padding: 10px 19px;
    margin: 12px 0;
    margin-left: 0px;
    
}
.btn-sn {
    font-size: 14px;
    padding: 10px 19px;
    margin: -50 0px;
    margin-left: 8px;
    
}

.btn:hover {
    background-color: white;
    color: blue;
}

.devpic img {
    height: 58vh;
}

.contactform {
    padding: 34px 0;
    /* padding-top: 144px; */
    font-family: 'Fira Sans', sans-serif;
    margin: 0 88px;
}

.contactform h1 {
    font-size: 35px;
    font-family: 'Source Code Pro', monospace;
    margin: 0 15px;
    padding: 12px;
}

.contactform form div {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    margin: 15px;
    


}

.contactform form div input {
    margin-top: 10px;
    margin-bottom: 25px;
    width: 22vw;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(43, 4, 121);
    padding: 3px;
}

#emailHelp {
    font-size: 12px;
    color: midnightblue;
    margin: 0 0px;
}

#form-check {
    flex-direction: row;
}

#form-check input {
    width: 18px;
    margin-left: -15px;
}

#btn btn-primary {
    width: 24px;
    margin-left: 100px;
}

.blogitem {
    margin: 20px;
    font-family: 'Fira Sans', sans-serif;

}
.blogcontainer{
    margin: 60px 88px;
}

/*.blogitem*/
h1 {
    font-family: 'Fira Sans', sans-serif;
    margin: 10px;
}

/*.blogitem*/
p {
    font-family: 'Source Code Pro', monospace;
}
.intro{
    margin: 70px 88px;
}

.intro h2 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 35px;
    margin: 0 12px;
}

.intro p {
    font-family: 'Source Code Pro', monospace;
    margin: 0 12px;
    font-size: 15px;
    margin: 15 15px;
}

.skillcontainer {
    padding: 12px;
    margin-left: 30px;
    /* margin: 30px; */
}

.skillitem {
    display: flex;
    align-items: center;
    margin-left: -30px;
    margin-top: 15px;
}

.skill {
    width: 265px;
    height: 6px;
    margin: 6px;
    background-color: brown;
    border: 2px;
}

.hundred {
    width: 250px;
}

.s5 {
    width: 187.5px;
}

.fifty {
    width: 125px;
}

.t5 {
    width: 62.5px;
}
.sidebargo{
    transform: translate(-443px,0px);
    position: absolute;
}
.hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
    margin-top: 10px;
    margin-left: 10px;
}
/* .ham{
    margin-top: 10px;
} */
.cross{
    margin-left: 0px;

}
@media (max-width:1240px) {
    /* * {
         background-color: rgb(238, 119, 119); 
    } */
    /* .sidebar{
        transform: translate(-443px,0px);
        position: absolute;
    } */
}
/* .devpic{
    display: none;
} */
.enquiry{
    /* width: 50px; */
    height: 60px;
    
}
.talk{
    margin-top: 6.7px;
    margin-left: 5px;
}